<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mensagem</title>
</head>
<body>
    <%- include('app') %>
    <section class="m-4 d-grid " >
        <form class="col-8" >
            <div>
                <p class="input-group-text">Nome: <%= mensagens.name %></p>
                <p class="input-group-text">Email: <%= mensagens.email %></p>
                <p class="input-group-text">Telefone: <%= mensagens.telefone %></p>
            </div>
            <div class="form-control row-10">
                <p><%= mensagens.mensagem %></p>
            </div>
            <button type="submit"
                    formaction="/mensagem/list"
                    formmethod="GET" 
                    class="btn btn-primary"> Retornar
            </button>
            <button type="submit"
                    formaction=<%= `/mensagem/d/${mensagens.id}` %>
                    formmethod="GET" 
                    class="btn btn-danger">Deletar
            </button>
        </form>
    </section>
    
</body>
</html>