<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Produtos</title>
</head>
<body>
    <%- include('app') %>
    <section class="m-4 d-grid ">
        <form class="col-8" action="/produto" method="post" enctype="multipart/form-data">
            <div>
                <p class="alert"><%=  msg %></p>
                <div>
                    <input type="hidden" name="id" value="<%= produto.id %>">
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="name">Nome: </label>
                    <input class="form-control" type="text" name="name" id="name" value="<%= produto.name %>">
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="preco">Preço: </label>
                    <input class="form-control" type="text" name="preco" id="preco" value="<%= produto.preco %>">
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="img">Imagem: </label>
                    <input class="form-control" type="file" name="img" id="img" value="<%= produto.img %>">
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="descricao">Descrição: </label>
                    <textarea class="form-control" name="descricao" id="descricao" cols="30" rows="10"><%= produto.descricao %></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </div>
        </form>
    </section>
</body>
</html>