<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/scss/Produtos/index.css">
   
    <title>Loja Suspiros</title>
</head>
<body>

  <header class="header">
    <div class="header-logo">
     <p>Atelier do Suspiro</p>
    </div>
    <div class="header-nav">
      <nav class="nav">
        <ul>
          <li><a href="">Home</a></li>
        </ul>
        <ul>
          <li><a href="#produtos">Produtos</a></li>
        </ul>
        <ul>
          <li><a href="#contatos">Contato</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-resocial">
      <nav class="nav">
        <ul>
          <li><a href=""><i class="fab fa-facebook"></i></a></li>
        </ul>
        <ul>
          <li><a href="https://www.instagram.com/atelierdosuspiro/"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <ul>
          <li><a href=""><i class="fas fa-envelope"></i></a></li>
        </ul>

      </nav>
    </div>
  </header>

  <main class="main">
    <div class="main-container">
      <div class="main-texto" >
        <div class="main-texto-image">
          <img src="/image/donaAtelier.png" alt="">
        </div>
        <div class="main-texto-descricao">
          <h1>Atelier do Suspiro</h1>
          <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum cupiditate dolores voluptas fugit quae dolorum nostrum fuga velit rem possimus vitae beatae nisi repudiandae assumenda rerum, eligendi, inventore consequuntur commodi.</p>
        </div>
      </div>
 
      <div id='produtos' class="container d-flex main-produtos">
        <h1>Produtos</h1>
        <div class="d-flex">
            <% produtos.forEach((produto) => {%>
            <div class="card m-4" style="width: 15rem;">
              <img src=<%= produto.img %> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= produto.name %></h5>
                <p class="card-text"><%= produto.descricao %></p>
                <p class="card-text">R$ <%= produto.preco %></p>
              </div>
            </div>
            <%})%>
        </div>
      </div> 

      <div id='contatos' class="main-contatos">
        <h1>Contato</h1>
        <%- include('Mensagens/CadastraMensagem')%>
      </div>
    </div>
  </main>
  
       
</body>
</html>