<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contato</title>
</head>
<body>
    <%- include('app') %>
    <section class="m-4 d-grid " >
        <form class="col-8" action="/contato" method="post">
            <div >
                <p><%= msg %></p>
            </div>
            <div class="mb-3 input-group">
                <label class="input-group-text" for="instagram">Instagram: </label>
                <input class="form-control" type="text" name="instagram" id="instagram" value= "<%= contato.instagram %>">
            </div>
            <div class="mb-3 input-group">
                <label class="input-group-text" for="facebook">Facebook: </label>
                <input class="form-control" type="text" name="facebook" id="facebook" value= "<%= contato.facebook %>">
            </div>
            <div class="mb-3 input-group"> 
                <label class="input-group-text" for="email">E-mail: </label>
                <input class="form-control" type="text" name="email" id="email" value= "<%= contato.email %>">
            </div>
            <div class="mb-3 input-group">
                <label class="input-group-text" for="telefone">Telefone: </label>
                <input class="form-control" type="text" name="telefone" id="telefone" value= "<%= contato.telefone %>">
            </div>
            <div class="mb-3 input-group">
                <label class="input-group-text" for="whatsapp">Whatsapp: </label>
                <input class="form-control" type="text" name="whatsapp" id="whatsapp" value= "<%= contato.whatsapp %>">
            </div>
            <div class="mb-3 input-group">
                <label class="input-group-text" for="endereco">Endereço: </label>
                <input class="form-control" type="text" name="endereco" id="endereco" value="<%= contato.endereco %>">
            </div>
            <button class="btn btn-primary" type="submit">Atualizar</button>
        </form>
    </section>
    
</body>
</html>